
   .hovereffect{
    height: 77px;
    margin: auto;
    overflow: hidden;
    width: 10px;
    transition: all 1s ease 0s;
}
.z-img{
    position: relative;
    height: 176px;
    border: 1px solid black;
    width: 300px;
}
.z-img img{
    width: 10%;
    height: 10%;
    transition: all 0.6s ease 0s;
}
.hovereffect:hover .z-img img{
    transform: scale(1.9);
}
.z-text{
    background: rgba(0, 0, 0, 10);
    position: absolute;
    width: 100px;
    height: 76px;
    border: 1px solid gray;
    top: -99px;
    z-index: 111;
    display: none;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid white;

}
